alias g='grep'
alias get='sudo apt-get install'
alias ag='apt list | g'
alias unget='sudo apt-get remove'
alias fix='sudo apt upgrade --fix-missing -y'
alias ig='inst | g'
alias gtc='xelatex'
alias up='apt list --upgradeable'
alias git='hub'
alias vup='cd ~/v/ && git pull origin master && make && cd ~'
alias bg='ls /bin | g'
alias ls='ls -A --color=auto'
alias v='~/v/v'
alias systemctl='sudo systemctl'
alias useradd='useradd -m -g wheel'
alias adduser='adduser -m -g wheel'
